{:paths ["src"]
 :deps {123 546345
        org.clojure/clojure {:mvn/version "1.11"}
        lilactown/hx {:mvn/version "0.5.2"}
        foo.bar/baz {:mvn/version "0.1.0"}
        asdf {:mvn/version "1.7.908"}}
 :aliases {:dev {:foo :bar}
           "repl" nil
           :lark/repl {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}, :main-opts ["-m" "rebel-readline.main"]}
           :lark/new {:extra-deps {seancorfield/clj-new {:mvn/version "0.5.5"}}, :main-opts ["-m" "clj-new.create"]}}}
